# Step 1 – Python ETL Script

In [1]:
pip install pandas psycopg2 sqlalchemy openpyxl

Requirement already satisfied: pandas in c:\users\bande\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: psycopg2 in c:\users\bande\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\bande\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: openpyxl in c:\users\bande\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bande\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bande\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bande\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\bande\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\bande\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: et_xmlfile in c:\users\bande\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\bande\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Step 2 - Extract + Transform

In [2]:
import pandas as pd

df = pd.read_excel("Online Retail.xlsx")

In [3]:
# Make all column names lowercase
df.columns = df.columns.str.strip().str.lower()

In [4]:
df

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [5]:
df = df.rename(columns={
    "invoiceno": "invoice_no",
    "stockcode": "product_id",
    "customerid": "customer_id",
    "invoicedate": "invoice_date",
    "unitprice": "unit_price",
    "totalamount": "total_amount"
})

In [21]:
# Remove null customers
df = df[df["customer_id"].notna()]

# removing Duplicates
df[["customer_id", "country"]].drop_duplicates()

# Remove cancellations
df = df[~df["invoice_no"].astype(str).str.startswith("C")]

# Remove negative quantity
df = df[df["quantity"] > 0]

# Create total amount
df["total_amount"] = df["quantity"] * df["unit_price"]

# Convert date
df["invoice_date"] = pd.to_datetime(df["invoice_date"])

df["customer_id"] = df["customer_id"].astype(int)

In [22]:
df

,invoice_no,product_id,description,quantity,invoice_date,unit_price,customer_id,country,total_amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397924 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    397924 non-null  object
 1   product_id    397924 non-null  object
 2   description   397924 non-null  object
 3   quantity      397924 non-null  int64
 4   invoice_date  397924 non-null  datetime64[ns]
 5   unit_price    397924 non-null  float64
 6   customer_id   397924 non-null  int32
 7   country       397924 non-null  object
 8   total_amount  397924 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(4)
memory usage: 28.8+ MB

In [27]:
print("Total rows:", len(df))
print("Unique customers:", df["customer_id"].nunique())
print("Duplicate customer rows:", df.duplicated(subset=["customer_id"]).sum())

Total rows: 397924
Unique customers: 4339
Duplicate customer rows: 393585

In [28]:
df_customers = (
    df[["customer_id", "country"]]
    .dropna()
    .drop_duplicates(subset=["customer_id"])
)

print("Rows in dim_customers df:", len(df_customers))

Rows in dim_customers df: 4339

In [29]:
df["customer_id"] = df["customer_id"].astype(int)

df_customers = (
    df[["customer_id", "country"]]
    .dropna()
    .drop_duplicates(subset=["customer_id"])
)

df_customers.to_sql("dim_customers", engine, if_exists="append", index=False)

339

# Load into PostgreSQL

In [33]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:bandela@localhost:5432/retail_etl"
)

# Load dimension tables
df[["customer_id", "country"]].drop_duplicates() \
    .to_sql("dim_customers", engine, if_exists="append", index=False)

df[["product_id", "description"]].drop_duplicates() \
    .to_sql("dim_products", engine, if_exists="append", index=False)

# Load fact table

df[[
    "invoice_no",
    "product_id",
    "customer_id",
    "quantity",
    "unit_price",
    "total_amount",
    "invoice_date"
]].to_sql("fact_sales", engine, if_exists="append", index=False)

924